# Import Libraries

In [2]:
import pandas as pd
import numpy as np
import os

# Import Data

In [4]:
path = r"C:\Users\Zachu\Downloads\08-25-2024_Insta_Cart_Basket_Analysis"
orders_products_combined = pd.read_pickle(os.path.join(path, 'Data', 'Prepared Data', 'orders_products_combined.pkl'))
products_checked = pd.read_csv(os.path.join(path, 'Data', 'Prepared Data', 'products_checked.csv'))

# Data Output Checks

In [6]:
products_checked.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [7]:
products_checked.shape

(49672, 6)

In [8]:
orders_products_combined.head()

,Unnamed: 0,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [9]:
orders_products_combined.shape

(32434489, 11)

# Merge ords_prods_combined with products_checked

In [11]:
# Drop Unnamed columns in df_products_checked
products_checked = products_checked.drop(columns = ['Unnamed: 0'])

In [12]:
# Drop Unnamed and Merge columns in orders_products_combined
orders_products_combined = orders_products_combined.drop(columns = ['Unnamed: 0', '_merge'])

In [13]:
ords_prods_merge = orders_products_combined.merge(products_checked, on = 'product_id', indicator = True)
ords_prods_merge

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,23,19,4.4,both
3,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both
4,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,2977660,206209,13,1,12,7.0,14197,5,1,Tomato Paste,9,9,5.6,both
32404855,2977660,206209,13,1,12,7.0,38730,6,0,Brownie Crunch High Protein Bar,3,19,5.9,both
32404856,2977660,206209,13,1,12,7.0,31477,7,0,High Protein Bar Chunky Peanut Butter,3,19,4.2,both
32404857,2977660,206209,13,1,12,7.0,6567,8,0,Chocolate Peanut Butter Protein Bar,3,19,4.9,both
32404858,2977660,206209,13,1,12,7.0,22920,9,0,Roasted & Salted Shelled Pistachios,117,19,1.7,both

In [14]:
ords_prods_merge['prices'].describe()

count    3.240486e+07
mean     1.198023e+01
std      4.956554e+02
min      1.000000e+00
25%      4.200000e+00
50%      7.400000e+00
75%      1.130000e+01
max      9.999900e+04
Name: prices, dtype: float64

In [15]:
ords_prods_merge['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [29]:
# Export merged file
ords_prods_merge.to_pickle(os.path.join(path, 'Data', 'Prepared Data', 'orders_products_merged.pkl'))